spring:
  application:
    name: journal-backend
  datasource:
    url: jdbc:mysql://localhost:3306/journal?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Hasritha@2006
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
    properties:
      "[hibernate.format_sql]": true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

server:
  port: 9099   # or your chosen random port

management:
  endpoints:
    web:
      exposure:
        include: health,info
